---
import Layout from "../layouts/Layout.astro";
import CategoriesPages from "../components/pages/Categories.pages.astro";
---

<Layout title="Categorías de noticias" description="Categorías de noticias">
  <section>
    <h2
      class="text-[1.5rem] sm:text-[2rem] font-bold text-Soft-orange max-sm:flex max-sm:justify-center"
    >
      Categorías - Noticias - 24/7
    </h2>
    <h3
      class="text-[1.3rem] font-semibold text-shadow-Dark-grayish-blue max-sm:flex max-sm:justify-center mt-5 text-pretty"
    >
      Las noticias por categoría, actualizadas de todas las regiones del mundo y
      nacionales.
    </h3>
    <CategoriesPages />
  </section>
</Layout>
