---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import NewArticle from "../components/NewArticle.astro";

const articles = await getCollection("new");
---

<Layout title="Nuevas Noticias" description="Nuevas Noticias - Modernas">
  <section>
    <h1 class="text-Soft-orange font-bold text-[2rem]">Nuevas Noticias</h1>
    <div class="xl:grid xl:grid-cols-2 xl:gap-6">
      {
        articles.map((article) => (
          <NewArticle article={article} showImage={true} />
        ))
      }
    </div>
  </section>
</Layout>
