---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nuevas Noticias" description="Nuevas Noticias - Modernas">
  <section>
    <h2 class="text-3xl">Nuevas Noticias</h2>
  </section>
</Layout>
