---
import Layout from "../layouts/Layout.astro";
import PopularPage from "../components/pages/Popular.pages.astro";
---

<Layout
  title="Noticias Populares a nivel mundial"
  description="Noticias Populares"
>
  <section>
    <h2
      class="text-[2rem] font-bold text-Soft-orange max-sm:flex max-sm:justify-center"
    >
      Noticias Populares
    </h2>
    <h3
      class="text-[1.3rem] font-semibold text-shadow-Dark-grayish-blue max-sm:flex max-sm:justify-center mt-5 text-pretty"
    >
      Las noticias que están marcando agenda ahora mismo a nivel mundial y
      nacionales.
    </h3>
    <PopularPage />
  </section>
</Layout>
