---
import Layout from "../layouts/Layout.astro";
import PopularPage from "../components/pages/Popular.pages.astro";
---

<Layout
  title="Noticias Populares a nivel mundial"
  description="Noticias Populares"
>
  <section>
    <h2
      class="text-[2rem] font-bold text-Soft-orange max-sm:flex max-sm:justify-center"
    >
      Noticias Populares
    </h2>
    <PopularPage />
  </section>
</Layout>
