---
import Layout from "../layouts/Layout.astro";
import TrendingPages from "../components/pages/Trending.astro";
---

<Layout title="Tendencias | Deportes" description="Tendencias | Deportivas">
  <section>
    <h2 class="text-3xl">Tendencias</h2>
    <TrendingPages />
  </section>
</Layout>
