---
import Layout from "../layouts/Layout.astro";
import TrendingPages from "../components/pages/Trending.astro";
---

<Layout title="Tendencias | Deportes" description="Tendencias | Deportivas">
  <section>
    <h2
      class="text-[2rem] max-sm:flex max-sm:justify-center font-bold text-Soft-orange"
    >
      Tendencias
    </h2>
    <TrendingPages />
  </section>
</Layout>
