<section>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/new">Nuevo</a></li>
      <li><a href="/popular">Popular</a></li>
      <li><a href="/trending">Tendencia</a></li>
      <li><a href="/categories">Categorias</a></li>
    </ul>
  </nav>
</section>
