---
interface New {
  title: string;
  description: string;
}

const articles: New[] = [
  {
    title: "Hidrógeno VS Coches Eléctricos",
    description:
      "¿Los coches de hidrógeno alguna vez alcanzarán a los vehículos eléctricos?",
  },
  {
    title: "Los Inconvenientes del Arte con IA",
    description:
      "¿Cuáles son los posibles efectos adversos de la generación de imágenes con IA bajo demanda?",
  },
  {
    title: "¿Se está agotando la financiación de capital de riesgo?",
    description:
      "La financiación privada por parte de firmas de capital de riesgo ha bajado un 50% interanual. Analizamos qué significa esto.",
  },
];
---

<section class="bg-Very-dark-blue text-Off-white py-4 px-6 mb-16">
  <h1 class="text-Soft-orange font-bold text-[2rem]">Nuevo</h1>
  {
    articles.map((article) => (
      <article class="border-b border-Grayish-blue py-8 last:border-none">
        <a
          href="#"
          class="font-extrabold text-xl inline-block mb-4 cursor-pointer hover:text-Soft-orange"
        >
          {article.title}{" "}
        </a>
        <p class="text-Grayish-blue text-[0.9375rem]">
          {" "}
          {article.description}{" "}
        </p>
      </article>
    ))
  }
</section>
