---
import { getCollection } from "astro:content";
import NewArticle from "./NewArticle.astro";

interface Props {
  styles?: string;
}

const { styles } = Astro.props;
const articles = await getCollection("new");
---

<section class={`bg-Very-dark-blue text-Off-white py-4 px-6 mb-16 ${styles}`}>
  <h1 class="text-Soft-orange font-bold text-[2rem]">Nuevo</h1>

  {
    articles
      .slice(0, 3)
      .map((article) => (
        <NewArticle article={article} showImage={false} />
      ))
  }
</section>
